<div class="container cardContainer animated fadeIn">
  <div class="jumbotron">
    <h1>Colour Memory</h1>
    <ul>
      <li ng-repeat="color in main.colours track by $index" class="{{color}}" tabIndex="{{$index + 1}}" ng-focus="focused=true" ng-click="main.addSelected($event); main.checkPair()" ng-class="">{{ color }}</li>
    </ul>
  </div>
</div>

<div class="container-fluid scoreBar animated fadeInUp" ng-show="main.correct === 8">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Well Done!</h2>
      <div class="col-md-6 text-right">
        <h3>You just scored: {{main.correct - main.wrong}}</h3>
      </div>
      <div class="col-md-6 text-left">
        <p ng-click="main.toggle()">Submit your score?</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid submitForm" ng-show="main.enabled">
  <div class="row">
      <form class="form-inline" id="scoreSubmit" name="scoreSubmit" ng-submit="main.submitForm(); main.scoreTable(true); main.retrieveData(); ">
        <div class="form-group">
          <label for="scoreName">Name</label>
          <input type="text" class="form-control" name="scoreName" id="scoreName" placeholder="Jane Doe" ng-model="main.scoreSubmit.scoreName" required spellcheck="false">
        </div>
        <button type="submit" class="btn btn-primary">Submit score</button>
        <button type="button" class="btn btn-info" ng-click="main.retrieveData(); main.scoreTable();">Retrieve Scores</button>
        <button type="button" class="btn btn-danger" ng-click="main.deleteData()">Delete Scores</button>
        <button type="button" class="btn btn-default" ng-click="main.restartGame()">Reset</button>
      </form>
  </div>
</div>

<div class="container-fluid showResults" ng-show="main.show" ng-click="main.scoreTable()">
  <div class="row">
    <h3>Current Scores</h3>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="score in main.scoreData">
          <th scope="row">{{ $index + 1 }}</th>
          <td>{{ score.name }}</td>
          <td>{{ score.score }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="reset animated fadeInLeft" ng-show="main.correct > 0 || main.wrong > 0">
  <button type="button" class="btn btn-default" ng-click="main.restartGame()">Reset</button>
</div>

<div class="debug animated slideInDown">
  <ul>
    <li><strong>Selected:</strong> {{ main.numColours('selected') }}</li>
    <li><strong>Correct pairs:</strong> {{main.correct}}</li>
    <li><strong>Wrong pairs:</strong> {{main.wrong}}</li>
    <li><strong>Final Score:</strong> {{main.correct - main.wrong}}</li>
  </ul>
</div>
